@{
    ViewBag.Title = "Galerie";
}

<!-- ======= Gallery Section ======= -->
<section id="gallery" class="gallery">

    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>Gallerie</h2>
            <p>Unele poze</p>
        </div>
    </div>

    <div class="container-fluid" data-aos="fade-up" data-aos-delay="100">
        <div class="row g-0">

            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="~/Content/img/gallery/IMG_0604-HDR.jpg" class="gallery-lightbox" data-gall="gallery-item">
                        <img src="~/Content/img/gallery/IMG_0604-HDR.jpg" alt="" class="img-fluid" />
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="~/Content/img/gallery/gallery-4.jpg" class="gallery-lightbox" data-gall="gallery-item">
                        <img src="~/Content/img/gallery/gallery-4.jpg" alt="" class="img-fluid" />
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="~/Content/img/gallery/IMG_0745-HDR.jpg" class="gallery-lightbox" data-gall="gallery-item">
                        <img src="~/Content/img/gallery/IMG_0745-HDR.jpg" alt="" class="img-fluid" />
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="~/Content/img/gallery/IMG_0828-HDR.jpg" class="gallery-lightbox" data-gall="gallery-item">
                        <img src="~/Content/img/gallery/IMG_0828-HDR.jpg" alt="" class="img-fluid" />
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="~/Content/img/gallery/IMG_0873-HDR.jpg" class="gallery-lightbox" data-gall="gallery-item">
                        <img src="~/Content/img/gallery/IMG_0873-HDR.jpg" alt="" class="img-fluid" />
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="~/Content/img/gallery/IMG_2308-HDR.jpg" class="gallery-lightbox" data-gall="gallery-item">
                        <img src="~/Content/img/gallery/IMG_2308-HDR.jpg" alt="" class="img-fluid" />
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="~/Content/img/gallery/IMG_2332-HDR.jpg" class="gallery-lightbox" data-gall="gallery-item">
                        <img src="~/Content/img/gallery/IMG_2332-HDR.jpg" alt="" class="img-fluid" />
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="~/Content/img/gallery/IMG_2350-HDR.jpg" class="gallery-lightbox" data-gall="gallery-item">
                        <img src="~/Content/img/gallery/IMG_2350-HDR.jpg" alt="" class="img-fluid" />
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="~/Content/img/gallery/IMG_2395-HDR.jpg" class="gallery-lightbox" data-gall="gallery-item">
                        <img src="~/Content/img/gallery/IMG_2395-HDR.jpg" alt="" class="img-fluid" />
                    </a>
                </div>
            </div>

        </div>
    </div>

</section>
<!-- End Gallery Section -->
